.bannerContainer {
    position: relative;
}

.bannerBackground {
    background-color: rgb(220, 79, 71);
    height: 250px;
    /* clip-path: polygon(50% 90%, 50% 90%, 50% 90%, 100% 70%, 100% 0%, 0% 0%, 0 70%); */
    clip-path: polygon(20% 90%, 50% 90%, 80% 90%, 100% 80%, 100% 0%, 0% 0%, 0 80%);
}

.nijobsCompany {
    font-size: 40px;
}

.nijobsCompany .nijobsLogo {
    height: 100px;
    width: auto;
}

.nijobsCompany .nijobsCompanyText {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 200;
}

.nijobsCompany.bannerBackground {
    position: sticky;
    top: 0;
}