.searchArea {
    padding: 1em 3em 3em 3em;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 6em;
}

.searchArea > form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
    grid-gap: 1em;
}

.searchBar {
    grid-column: 1;
}

.advancedSearchContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 1em;
}

.jobTypeSelector {
    grid-column: 1;
}

.durationSelector {
    grid-column: 2;
}

.advancedSearchBtnWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -30px;
    left: 0;
}