.searchArea {
    padding: 3em;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 8em;
    
}

.searchArea > form {
    display: grid;
    grid-template-columns: 100px auto  minmax(20%, 30%) 100px;
    grid-template-rows: 1fr auto;
    align-items: center;
    grid-gap: 1em;
}

.searchBar {
    grid-column: 1 / span 2;
}

.jobTypeSelector {
    grid-column: 1 / span 2;
}

.advancedSearchBtnWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -30px;
    left: 0;
}