.searchArea {
    padding: 3em;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 8em;
}

.searchArea > form {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.searchBar {
    flex-grow: 2;
}

.tagSelector {
    margin: 0 1em;
    flex-grow: 1.5;
    max-width: 30%;
}

.advancedSearchBtnWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -30px;
    left: 0;
}